{% include '/includes/cabecera.html' %}
<main>
    <div class="container">
        <div class="row mt-4">
            <div class="col-4">
                <div class="card bg-light mb-2">
                    <h4 class="card-header">Registrar Categoria</h4>
                    <div class="card-body">
                        <!--Registrar Categoria-->
                        <form action="/categoriaRequerimiento/registrar" method="post">
                            <div>
                                <span class="obligatorio">Tipo<h6 class="asterisco">*</h6></span>
                                <select class="form-select" id="tipoSelect" name="idTipo" required>
                                    <option value="" hidden>Seleccionar</option>
                                    {% for tipo in tiposRequerimientos %}
                                        <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <span class="obligatorio">Categoria<h6 class="asterisco">*</h6></span>
                                <input type="text" class="form-control" name="descripcion" placeholder="Categoria" required>
                            </div>
                            <div class="asterisco">
                                <span class="textObligatorio">Los campos marcados con * son de carácter obligatorio</span>
                            </div>
                            <div>
                                <br>
                                <button type="submit" class="form-control btn btn-success">Agregar</button>
                            </div>
                        </form>
                        <!--Fin registrar Categoria-->
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="buscador" id="buscador" placeholder="Buscar">
                </div>
                <div>
                    <!--Tabla de categorias-->
                    <table class="table  mt-2 table-bordered text-left" id="usuarios">
                        <thead>
                            <tr class="table table-light">
                                <th>Codigo</th>
                                <th>Tipo</th>
                                <th>Categoria</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categoriasRequerimientos %}
                            <tr>
                                <td>{{categoria.id}}</td>
                                {% for tipo in tiposRequerimientos %}
                                    {% if tipo.id == categoria.idTipo %}
                                        <td>{{tipo.tipo}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{categoria.descripcion}}</td>
                                <td class="text-center">
                                    <form action="/categoria/eliminar" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta categoría?');">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <!-- Modals -->
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalModificar{{categoria.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                  </svg>
                                            <input type="number" name="id" value="{{categoria.id}}" hidden>
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </form>
                        
                                <!-- Modal Modificar -->
                                    <div class="modal fade" id="modalModificar{{categoria.id}}" tabindex="-1" aria-labelledby="modalModificarLabel{{categoria.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalVerLabel{{categoria.id}}">Categoria de Requerimiento</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="/categoria/modificar" method="post" onsubmit="return confirm('¿Estás seguro de que deseas modificar esta categoría?');">
                                                    <div class="modal-body">
                                                        <div class="form-floating mb-3">
                                                            {% for tipo in tiposRequerimientos %}
                                                                {% if tipo.id == categoria.idTipo %}
                                                                    <input type="text" class="form-control" name="tipo" value="{{tipo.tipo}}" placeholder="Tipo" disabled>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <label for="nombre">Tipo</label>
                                                        </div>
                                                        <div class="form-floating">
                                                            <input type="number" name="id" value="{{categoria.id}}" hidden>
                                                            <input type="text" class="form-control" name="descripcion" placeholder="Categoria" value="{{categoria.descripcion}}" required>
                                                            <label for="usuario">Categoria</label>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="submit" class="btn btn-success">Modificar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!--Fin modal ver-->
                            </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                    <!--Fin tabla de categorias-->
                </div>
            </div>
        </div>
    </div>
</main>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--Buscador de categorias-->
<script>
    $(document).ready(function(){
        $("#buscador").keyup(function(){
            _this = this;
            $.each($("#usuarios tbody tr"), function() {
                if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    });
</script>

<style>
    .obligatorio{
        display: flex;
        text-align: left;
        margin-top: 5px;
    }                             
    
    .asterisco{
        color: red;
        margin: 0;
    }

    .textObligatorio{
        font-size: 13px;
    }
</style>

{% include '/includes/pie.html' %}