{% include '/includes/cabecera.html' %}

    <main>
        <div class="container-fluid" style="height: 100vh;">
            <div class="row mt-3 justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="card bg-light text-center">
                        <div class="card-header">
                            <h4 class="card-title">CREAR REQUERIMIENTO</h4>
                        </div>
                        <div class="card-body">
                            <!-- Formulario -->
                            <form id="formRequerimiento" action="/requerimiento/registrar" method="post" enctype="multipart/form-data">
                                <div class="container">
                                    <!-- Asunto -->
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="text-center fw-bold">
                                                <label class="form-label">Asunto<h6 class="asterisco">*</h6></label>
                                                <textarea id="textInput1" class="form-control" name="asunto" rows="2" maxlength="50" placeholder="Asunto..." required></textarea>
                                                <p class="charCount" id="charCount1">0/50</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Descripción -->
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="text-center fw-bold">
                                                <label class="form-label">Descripción<h6 class="asterisco">*</h6></label>
                                                <textarea id="textInput2" class="form-control" name="descripcion" rows="3" maxlength="5000" placeholder="Descripción..." required></textarea>
                                                <p class="charCount" id="charCount2">0/5000</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tipo y Destinatario -->
                                    <div class="segundo row fw-bold">
                                        <div class="col-12 col-md-6">
                                            <span>Tipo<h6 class="asterisco">*</h6></span>
                                            <select class="form-select" id="tipoSelect" name="idTipo" required>
                                                <option value="" hidden>Seleccionar tipo</option>
                                                {% for tipo in tiposRequerimientos %}
                                                    <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                                            <span>Destinatario</span>
                                            <select class="form-select" id="resultadoUsuarios" name="idDestinatario">
                                                <option value="" hidden>Seleccionar opción</option>
                                                {% for usuario in usuariosInternos %}
                                                    <option value="{{usuario.id}}">{{usuario.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Categoría y Archivos -->
                                    <div class="row text-center fw-bold mt-3">
                                        <div class="col-12 col-md-6">
                                            <span>Categoría<h6 class="asterisco">*</h6></span>
                                            <select class="form-select" id="categoriaSelect" name="idCategoria" required>
                                                <option value="None" hidden>Seleccionar categoría</option>
                                                {% for categoria in categoriasRequerimientos %}
                                                    <option value="{{ categoria.id }}" data-tipo="{{ categoria.idTipo }}">{{ categoria.descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                                            <span>Ingresar Archivos</span>
                                            <input type="file" id="archivos" name="archivos" class="form-control" accept=".doc,.docx,.xls,.xlsx,.pdf" multiple>
                                            <p id="fileHelp">Se permiten hasta 5 archivos en formatos Word, Excel y PDF.</p>
                                            <div id="fileWarning" class="text-danger mt-2" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <!-- Prioridad y Requerimiento Vinculado -->
                                    <div class="row text-center fw-bold mt-3">
                                        <div class="col-12 col-md-6">
                                            <span>Prioridad<h6 class="asterisco">*</h6></span>
                                            <select class="form-select" name="prioridad" required>
                                                <option value="" hidden disabled selected>Seleccionar Prioridad</option>
                                                <option value="Urgente">Urgente</option>
                                                <option value="Alta">Alta</option>
                                                <option value="Media">Media</option>
                                                <option value="Baja">Baja</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                                            <span>Vincular con otro Requerimiento</span>
                                            <select class="form-select" id="resultadoRequerimientos" name="idRequerimiento">
                                                <option value="" hidden>Seleccionar opción</option>
                                                {% if tipoEmisor == "Externo" %}
                                                    {% for reqExterno in reqExternos %}
                                                        {% if idEmisor == reqExterno.idEmisor %}
                                                            <option value="{{reqExterno.id}}">{{reqExterno.codigo}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if tipoEmisor == "Interno" %}
                                                    {% for requerimiento in requerimientos %}
                                                        <option value="{{requerimiento.id}}">{{requerimiento.codigo}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Mensaje de campos obligatorios -->
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="asterisco">
                                                <span class="obligatorio">Los campos marcados con * son de carácter obligatorio</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Botón Agregar -->
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" id="btnAgregar" class="form-control btn btn-success mt-3">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <i class="fas fa-exclamation-triangle text-warning me-3" style="font-size: 24px;"></i>
                    <span>¿Estás seguro de que deseas enviar este requerimiento?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirmSubmit" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Scripts personalizados -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const btnAgregar = document.getElementById('btnAgregar');
            const formRequerimiento = document.getElementById('formRequerimiento');
            const confirmSubmit = document.getElementById('confirmSubmit');

            // Validar el formulario antes de abrir el modal
            btnAgregar.addEventListener('click', function () {
                if (formRequerimiento.checkValidity()) {
                    // Si el formulario es válido, abre el modal
                    const modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
                    modal.show();
                } else {
                    // Si el formulario no es válido, muestra los mensajes de validación
                    formRequerimiento.reportValidity();
                }
            });

            // Enviar el formulario cuando se confirme en el modal
            confirmSubmit.addEventListener('click', function () {
                if (formRequerimiento.checkValidity()) {
                    formRequerimiento.submit();
                } else {
                    formRequerimiento.reportValidity();
                }
            });
        });

        // Contador de caracteres
        function setupCharacterCounter(textareaId, charCountId) {
            const textInput = document.getElementById(textareaId);
            const charCount = document.getElementById(charCountId);
            const maxLength = parseInt(textInput.getAttribute('maxlength'));

            // Inicializa el contador
            charCount.textContent = `0/${maxLength}`;

            textInput.addEventListener('input', () => {
                const currentLength = textInput.value.length;
                charCount.textContent = `${currentLength}/${maxLength}`;
            });
        }

        // Configura el contador para cada textarea
        setupCharacterCounter('textInput1', 'charCount1');
        setupCharacterCounter('textInput2', 'charCount2');
    </script>

<style>
    /* Estilos personalizados */
    span, .form-label, .obligatorio {
        display: flex;
        text-align: left;
        margin: 3px;
    }
    #fileHelp, .charCount {
        margin: 0;
        display: flex;
        text-align: left;
        margin-left: 3px;
        color: grey;
        font-size: 13px;
    }
    .asterisco {
        color: red;
        margin: 0;
    }
    .segundo {
        margin-top: 20px;
    }
    textarea {
        resize: none;
    }
</style>

{% include '/includes/pie.html' %}